<div class="row row-margin">
  <div class="col-md-1">
    <h4 class="link-number pull-right"><%= @num %></h4>
    <% @num += 1 %>
  </div>
  <div class="col-md-8">
    <h4 class="row"><%= link_to "USER: #{user.username}", user_path(username: user.username) %> </h4>
    <div class="row">
      <h6 class="col-md-12 text-left" >Description:<%= user.description %></h6>
    </div>
  </div>
</div>
