<div class="row row-margin">
  <div class="col-md-1">
    <h4 class="link-number pull-right"><%= @num %></h4>
    <% @num += 1 %>
  </div>
  <div class="col-md-8">
    <h4 class="row"><%= link_to "Subreddit: #{subreddit.name}", subreddit_path(name: subreddit.name) %> </h4>
    <div class="row">
      <h6 class="col-md-12 text-left" >Example Topics:
      <% subreddit.links.take(5) do |this_link| %>
      <%= this_link.title %>,
      <% end %>
      </h6>
    </div>
  </div>
</div>
