<p id="notice"><%= notice %></p>

<div class="row">
  <h5 class="col-md-12"><strong><%= @subreddit.name %></strong></h5>
</div>
</p>

<%= render partial: "link", locals:{links: @subreddit.links.sort_by{|link| link.vote_score}.reverse} %>
